body{
	
	padding: 50px;
}

.titleHead{
	background-color: red
}

.divListeLangue{
	background-color: lightgrey;
	padding: 20px;
}
.divAddLangue{
	background-color: lightgrey
}


table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;

}
th {
font-family: monospace;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);

}
td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;

}
caption {
font-family: sans-serif;
}




